<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	 http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	 http://www.springframework.org/schema/tx  	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	 http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	 http://www.springframework.org/schema/task  
	 http://www.springframework.org/schema/task/spring-task-3.0.xsd
	 http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <context:annotation-config />
<!--     <tx:annotation-driven /> -->
    <tx:annotation-driven transaction-manager="transactionManager"/> 
<!--     <context:load-time-weaver/> -->
	<context:component-scan base-package="mx.com.gapsi.eventos.dao" />
	<context:component-scan base-package="mx.com.gapsi.eventos.facade" />
<!-- 	<context:component-scan base-package="example.jpa" /> -->
	
	<!-- Necessary to get the entity manager injected into the factory bean -->
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean
		class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer" />
		
	<!-- Configure a JPA vendor adapter -->
	<bean id="openJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.OpenJpaVendorAdapter">
		<property name="showSql" 			value="false" />
		<property name="generateDdl" 		value="false" />

		<!-- Configuration to DB2 -->
		<!-- property name="databasePlatform" 	value="org.apache.openjpa.jdbc.sql.DB2Dictionary" />
		<property name="database" value="DB2" /-->

		<!-- Configuration to PostgreSQL -->
		<property name="databasePlatform" value="org.apache.openjpa.jdbc.sql.PostgresDictionary"/>
		<property name="database" value="POSTGRESQL"/>
	</bean>
   <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
<!--       <property name="dataSource" ref="dataSource" /> -->
      <property name="persistenceUnitName" value="openjpa-todo" />
<!--       <property name="packagesToScan" value="mx.com.gapsi.eventos.model" /> -->
		<property name="jpaVendorAdapter" 	ref="openJpaVendorAdapter" />
		<property name="jpaProperties">
			<props>
					<prop key="openjpa.Log">none</prop>
			</props>
		</property>			
   </bean>
   
<!--    <jee:jndi-lookup id="dataSource" -->
<!--    jndi-name="jdbc/fashionfestmexico-sqldb" -->
<!--    expected-type="javax.sql.DataSource" />  -->
   
<!--  	<bean id="dataSource" -->
<!-- 		class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="driverClassName" value="com.ibm.db2.jcc.DB2Driver" /> -->
<!-- 		<property name="url" 		value="jdbc:db2://75.126.155.153:50000/SQLDB" /> -->
<!-- 		<property name="username" 	value="user13014" /> -->
<!-- 		<property name="password" 	value="u0JmLzkwNurd" /> -->
<!-- 	</bean> -->
	
   <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory" />
   </bean>
   <bean id="persistenceExceptionTranslationPostProcessor"
      class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
      
<!--      <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> -->
<!-- 	 	<property name="jndiName" value="java:comp/env/jdbc/fashionfestmexico-postgresql" /> -->
<!-- 	</bean> -->
      		
</beans>