<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Eventos GAPSI</display-name>

	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- Set the PROJECT_STAGE to 'Development' to receive constructive error 
		messages during development. Change the PROJECT_STAGE to 'Production' when 
		putting the application into production -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.enableMissingResourceLibraryDetection</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
   		<param-name>primefaces.UPLOADER</param-name>
   		<param-value>native</param-value>
  	</context-param>

	<!-- <context-param> <param-name>primefaces.THEME</param-name> <param-value>#{themeSwitcherView.defaultTheme}</param-value> 
		</context-param> -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>liverpool</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>mx.com.gapsi.eventos.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Map these files with JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- default file for the context - welcome files -->
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>
	<!-- <listener> <listener-class>com.sun.faces.config.ConfigureListener</listener-class> 
		</listener> -->


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>

	<persistence-context-ref>
		<persistence-context-ref-name>openjpa-todo/entitymanager</persistence-context-ref-name>
		<persistence-unit-name>openjpa-todo</persistence-unit-name>
	</persistence-context-ref>

	<resource-ref>
		<!-- The cloudAutowiring-1.0 Liberty feature will resolve this to whatever 
			the database service name is -->
		<!-- When running locally without this feature, create a datasource with 
			the JNDI name "jdbc/mydbdatasource" in server.xml -->
		<!-- If using MySQL locally then use the "url" property and append "?relaxAutoCommit=true", 
			for example: <dataSource id='mysql-datasource' jdbcDriverRef='mysql-driver' 
			jndiName='jdbc/mydbdatasource'> <properties user='root' password='password' 
			url="jdbc:mysql://localhost:3306/db?relaxAutoCommit=true"/> </dataSource> -->
		<!-- res-ref-name>jdbc/fashionfestmexico-sqldb</res-ref-name -->
		<res-ref-name>jdbc/eventosgapsi-pgsql</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
